{% if form.search.errors %}
	<div class="errors">
		<p><b>There was an error with this request:</b></p>
		<ul>
			{% for error in form.search.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<form action="/" method="GET">
	<div class="searchbar">
		{{ form.search }}
		<button>Search</button>
	</div>
</form>
